*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  height: 100vh;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 28px 12%;
    transition: all .50s ease;
    color: #242424;
}
.about{
  border: 1px solid crimson;
}

.footer{
  
  position: fixed;
  bottom: 0;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #810707;
  /* margin: 0 auto; */
}
/* useState, useEffect,  */